<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <!--Nav bar start-->
        <div class="justify-content-center" id="site-top-navbar">
            <ul class="nav justify-content-center nav-fill nav-pills col-lg-8">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="facts.html">Flat Earth Facts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news.html">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="chat.html">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="meet-the-team.html">Meet the Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <!--Nav bar end-->
    </header>
    <main>
        <section>
            <article>

            </article>
            <article>

            </article>
            <article>

            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>