<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flat Earth Facts</title>
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Nova+Square&display=swap"
        rel="stylesheet">
    <style>
        main li {
            margin-bottom: 100px;
        }

        main li {
            color: var(--site-color-4);
            font-size: 20px;
            font-weight: bold;
        }

        p {
            font-weight: normal;
        }
    </style>
</head>

<body>
    <span class="pagespan" style="background-image: url('../images/flerf.png');"></span>
    <header>
        <!--Nav bar start-->
        <div class="justify-content-center" id="site-top-navbar">
            <ul class="nav justify-content-center nav-fill nav-pills col-lg-8">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="facts.html">Flat Earth Facts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news.html">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="chat.html">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="meet-the-team.html">Meet the Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <!--Nav bar end-->
    </header>
    <main>
        <h1 class="text-center mt-5">Flat Earth Facts</h1>
        <div class="container-lg mt-5 mb-5">
            <ol>
                <li>
                    <h2>This Is A Fact</h2>
                    <p class="lh-sm pl-2">
                        sdf sd f s e gwegr we g e gw ef sdb d f wf bsdv by n y5ne gfbe rgbe rfb gb wtb wf b tb er gb
                        dfb
                        sfb rt brtbrtbrtg r re gbr b bertb wrgb eg
                    </p>
                    <!--<a href="" class="d-block text-right">Read More...</a>-->
                </li>
                <li>
                    <h2>This Is A Fact</h2>
                    <p class="lh-sm pl-2">
                        sdf sd f s e gwegr we g e gw ef sdb d f wf bsdv by n y5ne gfbe rgbe rfb gb wtb wf b tb er gb
                        dfb
                        sfb rt brtbrtbrtg r re gbr b bertb wrgb eg
                    </p>
                    <!--<a href="" class="d-block text-right">Read More...</a>-->
                </li>
                <li>
                    <h2>This Is A Fact</h2>
                    <p class="lh-sm pl-2">
                        sdf sd f s e gwegr we g e gw ef sdb d f wf bsdv by n y5ne gfbe rgbe rfb gb wtb wf b tb er gb
                        dfb
                        sfb rt brtbrtbrtg r re gbr b bertb wrgb eg
                    </p>
                    <!--<a href="" class="d-block text-right">Read More...</a>-->
                </li>
            </ol>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>